!!! 5
html(lang="en")
	include ./header
	body
		#vpageShapeBox(hidden)
		#topBar
			.leftBox
			.rightBox
				ol
					#operator #{user.displayName}
					#operations(hidden)
						li 
							a(href="/login?command=doLogout") #{lang.logout}
		#mainVsite
			.header
				hi VOICE SITES
				div Create, modify, delete or copy your Voice Sites
				#createVSite Creata Voice Site
			.vsiteList
			- if (body.content.vsites && body.content.vsites.length)
					table
						- body.content.vsites.forEach(function(vsite){
						tr(id="vsite_#{vsite.vsiteId}")
							td 
								a(href="/vpageBuild?siteId=#{vsite.vsiteId}") #{vsite.vsiteName}
							td number
							td
								.vsiteOpBtns
									span(class="delVSiteBtn iconBtn closeBtn",vsiteId="#{vsite.vsiteId}") 
						- })
		#footer

	script(src='/ui/js/libs/require-2.1.4.min.js', data-main="/cms_modules_public/pageBoard/js/vsiteListMain.js")